<!DOCTYPE html>
<html>
  <head>
    <title>My Bakery</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to My Bakery</h1>

    <form method="post" action="/process">
      <p>Name: <input type="text" name="username" required /></p>
      <p>Password: <input type="password" name="password" required /></p>
      <input type="hidden" name="userID" value="232" />
      <p>
        Fave Baldy:
        <select name="baldies">
          <option>David</option>
          <option>Jean Luc Picard</option>
          <option>Yul Brynner</option>
        </select>
      </p>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
